<div>
    <h1>Stage 2.</h1>
    <p>{{meeting.name}} meeting.</p>
    <div>
        <p>Add user to the meeting.</p>
        <input type="text" value="" #userName>
        <button (click)="addUserToMeeting(userName.value);">Create user and add him to the meeting</button>

        <p>Meeting participants:</p>
        <ul>
            <li *ngFor="let connectedUser of meeting.connectedUsers">
                <p>{{connectedUser.name}}</p>
                <button (click)="addCalendarToUser(connectedUser)">Add calendar</button><br>
                <p *ngIf="(connectedUser.calendars.length !== 0)">Calendar count: {{connectedUser.calendars.length}}</p>
            </li>
        </ul>
    </div>
    <div>
        <label class="input">Use this link to share the meeting:</label>
        <input type="text" value="{{displayLink()}}">
        <button (click)="copyLink()">Copy link</button>
    </div>
    <p>Calendar display here?</p>
</div>