<div>
    <h1>Stage 2.</h1>
    <p>{{meeting.name}} meeting.</p>
    <div>
        <p>Fill the form below to add user to the meeting.</p>
        <input type="text" value="" #userName>
        <button (click)="createUser(userName.value)">Create user</button>
        <button (click)="addUserToMeeting()">Add user to the meeting</button>
    </div>
    <p>When visitor first completes the form display success msg here.</p>
    <div>
        <label class="input">Use this link to share the meeting:</label>
        <input type="text" value="{{displayLink()}}">
        <button (click)="copyLink()">Copy link</button>
    </div>
    <label class="list">People signed up so far:</label>
    <ul class="list">
        <li>Person One</li>
        <li>Person two</li>
    </ul>
    <p>Calendar display here?</p>
</div>