<div class="home-container">
    <header>
        <h2 class="home-header-welcome">
            Welcome!
        </h2>
        <p>
            This webapp helps to schedule a meeting between participants.
        </p>
        <div>
            Simply do the following:
            <ul>
                <li>create a meeting </li>
                <li>add your calendar to the meeting</li>
                <li>
                    share the meeting link with whom you want to meet and have them add their calendars to the meeting
                </li>
            </ul>
        </div>
        <p>
            The app will compare participants' calendars and present you with available meeting times.
        </p>
    </header>

    <button type="button"  
    class="home-button"
    (click)="start()">
        Start
    </button>

</div>
