@import '../../sass/variables';
@import '../../sass/mixins';

.calendar-header {
  position: sticky;
  top: 111px;
  background: white;
  z-index: 3;
  @media (max-width: 700px) {
    top: 146px;
  }
}

.calendar-nav-container {
  display: flex;
  justify-content: center;
  width: auto;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 3;
  margin: 0px auto;
  padding: 0px 10px;
  background-color: $website-color-quinary;
  border-bottom: 1px solid black;
}

.calendar-day-choice-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 5px 0px 5px;
}

.calendar-day-choice-button {
  @include primary-button-style;
  margin: 0px 2px;
  padding: 5px;
  overflow: hidden;
}

.calendar-nav-header {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.calendar-instructions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 46px;
  @media (max-width: 700px) {
    height: 81px;
  }
  @media (max-width: 450px) {
    flex-direction: column;
    height: auto;
  }
}

.calendar-legend {
  display: flex;
  flex-direction: column;
}

.calendar-legend-container {
  display: flex;
  flex-direction: row;
  @media (max-width: 450px) {
    flex-direction: row;
  }
}

.calendar-legend-color {
  width: 30px;
  height: 15px;
  margin: 2px 5px 2px 10px;
  flex-shrink: 0;
  &.spare {
    background-color: $calendar-color-spare-time;
  }
  &.occupied {
    background-color: $calendar-color-occupied-time;
  }
}

.calendar-instr {
  display: flex;
  flex-direction: column;
}

.calendar-instr-container {
  display: flex;
  flex-direction: row;
}

.calendar-instr-text {
  margin: 2px 10px 2px 5px;
  &.selected {
    margin-right: 5px;
    @media (max-width: 450px) {
      margin-top: 5px;
    }
  }
  &.date {
    margin-right: 0px;
    margin-left: 5px;
  }
}

.calendar-event-spare-time {
  background-color: $calendar-color-spare-time;
  border-color: $calendar-color-border-spare-time;
}

.calendar-event-occupied-time {
  background-color: $calendar-color-occupied-time;
  border-color: $calendar-color-border-occupied-time;
}


