@import '../sass/variables';

@mixin primary-content-box {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 10px;
  margin: 10px auto;
  flex-direction: column;
  @media (min-width: 420px) {
    width: 400px;
  }
}

@mixin primary-button-style {
  background-color: $website-color-secondary;
  border: 1px solid $stage-two-color-button-border;
  font-weight: normal;
  font-style: normal;
  font-family: $website-font-primary;
  &:hover {
    background-color: $website-color-tertiary;
  }
}