$website-color-primary: #1e90ff !default;
$website-color-secondary: #d1e8ff !default;
$website-color-tertiary: rgb(28, 192, 110) !default;

$navbar-color-border: rgb(69, 212, 212) !default;
$navbar-color-font: rgb(0,0,0) !default;
