$website-color-primary: rgb(88, 111, 243) !default;
$website-color-secondary: rgb(40, 124, 61) !default;
$website-color-tertiary: rgba(28, 192, 110, 0.619) !default;
$website-color-quaternary: rgb(3, 87, 10) !default;
$website-color-quinary: rgb(255, 255, 255) !default;
$website-font-primary: Arial, Helvetica, sans-serif;

$navbar-color-border: rgb(52, 135, 135) !default;
$navbar-color-font: rgb(0,0,0) !default;

$stage-one-color-form-border: rgb(153, 155, 153) !default;
$stage-one-color-button-border: rgb(118, 172, 93) !default;
$stage-one-color-button-disabled: rgb(0 0 0 / 14%) !default;

$stage-two-color-form-border: $stage-one-color-form-border;
$stage-two-color-button-border: $stage-one-color-button-border;
$stage-two-color-button-disabled: $stage-one-color-button-disabled;

$calendar-color-spare-time: rgb(33, 211, 122) !default;
$calendar-color-occupied-time: rgb(200, 42, 42) !default;
$calendar-color-border-spare-time: rgb(1,1,1) !default;
$calendar-color-border-occupied-time: rgb(1,1,1) !default;

$stages-max-width-breakpoint: 310px !default;