
<div>
    <ul class="navbar">
        <li class="navbar-icon">
            <a href="#">
                <img src="assets/icon.svg" class="navbar-icon-image" title="Home" alt="Home">
            </a>
        </li>
        <li class="navbar-header">
            <p class="navbar-header-text">
                Meeting Date Proposer
            </p>
        </li>
        <li class="navbar-links">
            <a class="navbar-link-button" routerLink="">
                Home
            </a>
        </li>
        <li class="navbar-links">
            <a class="navbar-link-button" routerLink="/about">
                About
            </a>
        </li>

    </ul>
</div>
