<div class="about-container">
    <h2 class="about-header">
        About
    </h2>
    
    <p class="about-paragraph">
        This webapp creates a meeting that compares participants calendars
        and displays their common available time.<br> 
        Only Google calendar is supported now,
        Outlook calendar and manual calendar input are planned
        to be supported in the future.
    </p>
    <p class="about-paragraph">
        This app is made using Angular and ASP.NET Core. <br>
        The code for this app is available at "github link".
    </p>
    
</div>
