<div>
    <h1>Stage 1.</h1>
    <p>Please fill in the form below to procced.</p>
    <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="fname"><br>
        <label for="name">Meeting Name:</label><br>
        <input type="text" id="name" name="fname"><br>
        <label for="name">Time period:</label><br>
        <input type="text" placeholder="id" id="name" name="fname"><br>
        <label for="name">Access to calendar:</label><br>
        <input type="button" value="Submit" (click)="getCalendar()"><br>
        <label for="name">Create meeting:</label><br>
        <input type="button" value="Submit" routerLink="/stageTwo" (click)="goToStageTwo()"><br>
    </form>
</div>



