<div class="connected-user-card">
    <div class="user-name">
        <input 
        type="checkbox" 
        id="user" 
        [checked]="this.user.isAParticipant"
        (change)="isAParticipant()">
        <label for="user">
            {{this.user.name}}
        </label>
    </div>
    <div class="add-calendar-container">
        <button [ngClass]="{'add-calendar-button': true, 
        'add-calendar-button-active': addCalendarIsVisible }" 
        (click)="addCalendarVisibility()">
            Add calendar
        </button>
        <div class="add-calendar-popup" *ngIf="addCalendarIsVisible">
            <button class="add-calendar-popup-button"
            (click)="addCalendarToUser(this.user)">
                <img [src]="iconUrl" class="add-calendar-popup-icon"
                 title="Calendar Icon" alt="Calendar Icon">
                <div class="add-calendar-popup-text">
                    Google Calendar
                </div>
            </button>
        </div>
        <div class="calendar-count" *ngIf="(this.user.calendars.length !== 0)">
            Calendar count: {{this.user.calendars.length}}
        </div>    
    </div>
</div>